{% extends "base/main.html" %} {% block content %}

<section class="all-locations">
  <h1>Select a Location</h1>

  {% for location in object_list %}
  <div class="location-container">
    <img src="{{location.image.url}}" alt="" style="width: 100%" />
    <div>
      <h1>{{location.name}}</h1>
      <p>
        <i class="fa-solid fa-location-dot" style="color: #90caf9"></i>
        {{location.city}}
      </p>
      <p>{{location.bio}}</p>
      <a href="{% url 'location' location.id %}"
        ><button><h3>See Details</h3></button></a
      >
    </div>
  </div>
  {% endfor %}
</section>

{% endblock content %}
